<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
		 version="2.4">
	<display-name>Remote Groovy Shell example web application</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>Rgsh</filter-name>
		<filter-class>com.github.safrain.remotegsh.server.RgshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Rgsh</filter-name>
		<url-pattern>/admin/rgsh</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Buy</servlet-name>
		<servlet-class>com.github.safrain.remotegsh.example.BuyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Buy</servlet-name>
		<url-pattern>/buy</url-pattern>
	</servlet-mapping>
</web-app>
