*.class
# Targets #
remote-gsh-server/target
remote-gsh-shell/target
remote-gsh-example/target

# Package Files #
*.jar
*.war
*.ear

# Eclipse Project Files #
.classpath
.project
.settings

# VIM swap files #
*.swp

# Idea Project Files #
idea
